*{
    margin: 0 auto;
    font-family: 'Rubik', sans-serif;
}

.background{
    background-image: url(./assets/pattern-bg.png);
    background-size: cover;
    min-height: 30vh;
    min-width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.form-container{
    position: relative;
    z-index: 2;
}
.show-map{
    min-height: 60vh;
    min-width: 100vw;
}

.title{
text-align: center;
font-size: 2rem;
color: white;
font-weight: 500;
margin: 20px 0 20px 0;
}

.ip-search{
    text-align: center;
    margin: 20px 0 20px 0;
}

.ip-input{
    display: inline-block;
    padding: 10px 15px;
    font-size: 20px;
    border-radius: 0;
    -webkit-appearance: none;
    border: 1px solid transparent;
    border-radius: 10px 0 0 10px;
    min-width: 30rem;
}
.ip-input:focus {
    background-color: cyan;
    color: #fff;
    outline: 0;
}

.arrow-btn{
    margin-left: -4px;
    border-radius: 0 10px 10px 0;
    display: inline-block;
    padding: 10px 15px;
    font-size: 20px;
    background-color: black;
    -webkit-appearance: none;
    border: 1px solid transparent;
}

.show-info-container{
    background-color: white;
    width: fit-content;
    border-radius: 15px 15px 15px 15px;
}

.show-info{
    display: flex;
    padding: 2rem;
}
.info-box{
    padding: 0 2rem 0 0;
}
.details-type{
    color: grey;
    font-weight: bold;
    font-size: 0.7rem;
    margin-bottom: 1rem;
}
.details-text{
    color: black;
    font-weight: bold;
    font-size: 1.5rem;
}
